body {
  font-size: 100%;
  color: #666;
  background-color: #fff;
    font-family: "akkurat";
    font-size: 16px;
}

.article-body {
    max-width: 1150px;
    margin: 0 auto;
    counter-reset: question-count;
      background-color: rgba(255, 255, 255, 0.7);
	  border-radius: 25px;
	padding: 20px;}

.quiz_container {
    list-style-type: none;
	font-weight: bold;
	color: #21252E;
	width: 98%;
}

.article-body h3 {
    margin-top: 0px;
}

ul {
    list-style-type: none!important;
    margin: 0;
    padding: 0;
}
/*fluid grid layout using twitter bootstrap */

.row-fluid {
	margin-left: 0 !important;
}


.span12 {
	padding: .75em;
	margin-top: .75em;
	margin-left: 0 !important;
}

.span12.question {
	padding: 0;
}

/*additional custom styling*/

.quiz_container .question_container {
	margin: 3em 0em;
}

.quiz_container .question_container h1, .question p, .revealed_answer p {
	line-height: 1.5em;
}

.quiz_container .question_container h1 {
font-size: 1.3em;
    font-family: trim-poster,sans-serif;
    font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase;
}


.quiz_container .question p {
    font-family: trim-poster,sans-serif;
	font-size: 2em;
}

.quiz_container .possible_answers.span12 {
	padding: 0;
	margin: 0;

}

.quiz_container .possible_answer {
	background: #fff;
	margin-left: 0 !important;
	border: 1px solid #000;
	margin-top: 10px;
}

.quiz_container .possible_answer:hover {
	background: #f2f2f2;
	cursor: pointer;
	color: #000;
}

/*more styling for answers*/

.quiz_container .revealed_answer p {
	font-size: 1em;
	line-height: 1.5em;
	padding: 5px 0px 0px 0px;
	min-height: 4em;
}

.quiz_container .revealed_answer a {
	color: #E64522;
}

.quiz_container .revealed_answer a:hover {
	opacity: .75;
	text-decoration: none;
}

.quiz_container .correct_answer {
	background: #00cc00;
	color: #fff;
	opacity: .5;
	cursor: pointer;
	margin-top: 10px;
}

.quiz_container .wrong_answer {
	border: 1px solid #cc0000;
	color: #cc0000;

	cursor: pointer;
	margin-top: 10px;

}

.quiz_container .selected {
    opacity: 1;

}

.quiz_container .selected:hover, .correct_answer:hover, .wrong_answer:hover {
	opacity: 1;
}

.quiz_container .hide {display: none;}

.quiz_container .show {display: block;}

.quiz_container .revealed_answer {
	padding: 0;

}


/*multimedia styling*/



.quiz_container .possible_answer img {
	max-height: 18em;
}

.quiz_container .question img, .revealed_answer img, .selected img, .correct_answer img, .wrong_answer img {
border: 1px solid #ccc;
background-color:#e8f4f8;
display: block;
}

.quiz_container .youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.quiz_container .youtube iframe, .youtube object, .youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.how_you_did {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
	text-align:center;
	font-size:16px;
	font-weight:700;
}

.how_you_did.quizCompleted {
  display: table;
  opacity: 1;
  z-index: 99999;
  z-index: 9999;
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 243, 0.8);
  border: 1px solid #ccc;
}

.result-content {
  display: table-cell;
  vertical-align: middle;
  z-index: 9999;
  position: relative;
  background-color: rgba(255, 255, 243, 0.8);

}
.XXXclose {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  color: #cc0000;
  opacity: 1;
  font-size: 20px;
}
.photoreveal {
  float: left;
  margin-left: 0px;
  width: 50%;
  height: auto;
}
.mapanswer {
float: right;
margin: -401px 0px 0px 0px;
width: 50%;
}
.answertop {
  float: left;
  width: 100%;
}
.blue {
  color: blue;}




@media screen and (max-width: 600px) {
  .how_you_did.quizCompleted {
width: 100%;
height: 300px;
padding: 1em;
  }

.XXXhow_you_did.quizCompleted:before {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}

button {
  border-radius: 20;
}

.XXXclose {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  color: #cc0000;
  opacity: 1;
  font-size: 20px;
}

.XXXsocial {
  position: absolute;
  bottom: 70px;
  right: 10px;
}
.photoreveal {
  float: left;
  margin-left: 0px;
  width: 100%;
  height: auto;
}
.mapanswer {
float: left;
margin: 0px 0px 0px 0px;
width: 100%;
}
}

@media screen and (min-width: 768px) {
  .XXXsocial {
    bottom: 115px;
  }
}
